.LogoSection {
  display: flex;
  padding: 0em 1em;
  background-color: white;
  justify-content: space-between;
}

.headerBar>a {
  height: 70px;
}

.headerBar>a>img {
  width: 75px;
  height: 60px;
  margin-left: -1em;
}

/* .Navbar {
  background-color: rgb(240, 255, 255, 0.5);
  margin: 1em;
  border-radius: 10px;
  padding: 1em;
} */

/* .Navbar>nav>a {
  margin: 1em 1em;
} */

.desktopNavbar {
  display: none;
}

.mobileNavbar p {
  /* color: white; */
  font-size: large;
  margin-left: 1em;
  display: block;
  margin-top: .8em;
  padding-top: .5em;
  transition: 0.7s;
  text-align: right;
}

.mobileNavbar p:hover {
  cursor: pointer;
  color: #b78456;
  transition: 0.7s;
  transform: scale(1.1);
}

.mobileNavbar>span {
  display: block;
  position: relative;
  animation: navSlider 0.7s forwards;
}

.navlist>a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 1.5em 0em;
  transition: 0.7s;
  text-align: right;
}

.navlist>a:hover {
  transition: 0.7s;
  color: #b78456;
}

.navlist>a:focus {
  transition: 0.7s;
  color: #b78456;
  outline: none;
}

.Navbar>nav>a:focus {
  transition: 0.7s;
  color: #b78456;
  outline: none;
}

.Navbar>nav>a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  /* margin: 1em; */
  text-decoration: none;
  transition: 0.7s;
  font-size: large;
}

.Navbar>nav>a:hover {
  transition: 0.7s;
  color: #b78456;
}

@-moz-keyframes navSlider {
  0% {
    bottom: 50px;
    opacity: 0;
  }

  100% {
    bottom: 0px;
    opacity: 1;
  }
}

@-o-keyframes navSlider {
  0% {
    bottom: 50px;
    opacity: 0;
  }

  100% {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes navSlider {
  0% {
    bottom: 50px;
    opacity: 0;
  }

  100% {
    bottom: 0px;
    opacity: 1;
  }
}

@media only screen and (min-width: 600px) {
  /* .Navbar {
    padding: 1em;
    background-color: rgb(240, 255, 255, 0.5);
    font-size: large;
  } */

  .desktopNavbar {
    display: none;
  }

  .mobileNavbar {
    display: block;
  }

  .navlist>a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    /* margin: 2em; */
  }

  .mobileNavbar>nav>a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    /* color: white; */
    margin: 2em;
  }

  .Navbar>nav>a {
    text-decoration: none;
    /* color: white; */
  }

  @-webkit-keyframes navSlider {
    0% {
      bottom: 50px;
      opacity: 0;
    }

    100% {
      bottom: 0px;
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 768px) {
  .LogoSection {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 0 .5em;

  }

  .desktopNavbar {
    display: flex;
  }

  .mobileNavbar,
  .navlist {
    display: none;
  }

  .desktopNavbar {
    margin-top: .5em;
  }

  .desktopNavbar>a {
    margin: 1em;
  }

  .headerBar>a>img {
    width: 95px;
    height: 80px;
  }
}

@media only screen and (min-width: 960px) {
  .LogoSection {
    padding: 0 5em;
  }
}

@media only screen and (min-width: 1300px) {
  .LogoSection {
    padding: 0 11em;
  }
}